@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /*Primary*/
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /*Accent*/
  --blue: hsl(248, 32%, 49%);
  /*Neutral*/
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 90%);
}

/*CSS reset*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: white;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  border: 0;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--red) url("./images/bg-intro-mobile.png") no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content h1 {
  font-size: 1.8rem;
}

.content p {
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.content {
  flex: 1;
  gap: 1.6rem;
}

.second {
  flex: 2;
  justify-content: flex-start;
  gap: 1.6rem;
}

p {
  color: var(--grayish-blue);
}

.msg {
  background-color: var(--blue);
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.18);
}

.msg span {
  font-weight: 600;
}

.card {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.18);
}

form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  gap: 1.6rem;
}

form input {
  padding: 1rem 2rem;
  border: 0.1rem solid var(--grayish-blue);
  font-weight: 600;
  color: black;
}

form button {
  padding: 1rem 2rem;
  background-color: var(--green);
  border-radius: 0.3rem;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.disclamer {
  color: hsl(246, 25%, 78%);
  width: 90%;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1rem;
}

.disclamer a {
  color: var(--red);
  text-decoration: none;
}

@media only screen and (min-width: 64.063em) {
  body {
    background: var(--red) url("./images/bg-intro-desktop.png") no-repeat;
    background-size: cover;
  }
  .container {
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
  }
  .content {
    flex: 1;
    text-align: left;
    font-size: 1.2rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .second {
    flex: 1;
  }
  form {
    height: 100%;
  }
}
